<form class="comment-edit">
  <div class="form-row">
    <textarea name="content"><%= model.get('content') %></textarea>
    <a href="#" class="fullscreen">&#9000;</a>
  </div>
  <div class="form-row buttons">
    <button class="btn">Update Comment</button>
  </div>
</form>
